<ul>
  <% @users.each do |u| %>
    <li><%= u.name %></li><br>
    <% if !current_user.friend?(u)%>
      <%=button_to 'Send friend request', friendships_path(friendship: {friend_id: u.id}), method: :post %>
    <%end%>
    <br><br>
  <%end%>
</ul>