<header class="header">
    <div class="text-box">
      <h1 class="heading-primary text-secondary">
        <span class="heading-primary-main">Welcome to Rails Facebook</span>
        <span class="heading-primary-sub"><%= current_user.name%></span>
      </h1>
    </div>
</header>