<% @users.each do |u|%>
  <%if current_user == u || current_user.friend?(u)%>
    <% u.posts.each do |p| %>
      <% if p.comments%>
        <ul>
          <% p.comments.each do |c|%>
            <li class='text-dark'><%= c.content%></li>
          <%end%>
        </ul> 
      <%end%>
    <%end%>
  <%end%>
<%end%>