<% @users.each do |u|%>
  <%if @user == u || @friends.include?(u)%>
    <% u.posts.each do |p| %>
      <% if p.comments%>
        <ul>
          <% p.comments.each do |c|%>
            <li class='text-dark'><%= c.content%></li>
          <%end%>
        </ul> 
      <%end%>
    <%end%>
  <%end%>
<%end%>