<div class='row'>
  <footer class="footer col fixed-bottom">
    <small class='mx-auto'>
      Copyright &copy; <a href="#"> Rails Facebook</a>
      by <a href="https://github.com/marcos-medeiros">Marcos Medeiros </a> && <a href="https://github.com/damiecode"> Damilola Ale</a>
    </small>
  </footer>
</div>